// fonts 
$font-size:2vw;
$font-size-medium: 2.4vw;
$font-size-large: 4vw;

// grid 
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

:root {
    --color-background-2:#232931;
    --color-background-1:#eeeeee;
    --color-primary:#4ecca3;
    --color-secondary:#393e46;
}


// // colors
// Theme one
// $color-background-2:#232931;
// $color-background-1:#eeeeee;
// $color-primary:#4ecca3;
// $color-secondary:#393e46;


// Theme2
// $color-background-2:#393232;
// $color-background-1:#f2edd7;
// $color-primary:#e48257;
// $color-secondary:#3a6351;


// #paddings and margins
$padding-small:1em;
$padding-medium:1.5em;
$padding-large:2.4em;