@import 'resets';
@import 'variables';
@import 'mixins';
@import 'grid';
@import 'dropdown';

body
{
    background:$color-background-1;
    font-family: 'Lato', sans-serif; 
    font-weight: 600;
    color:$color-secondary
}
.navbar
{
    background: $color-secondary;
    text-align: center;
    z-index: 10;
}
.customize 
{
    padding:.3rem;
    font-size:.5rem;
    .customize-content
    {
        padding:.2rem;
        border:2px solid $color-primary;
        border-radius: 15%;
    }
    #font-1
    {
        font-family:'Bitter', serif;
        margin-top: 5px;
    }
    #font-2
    {
        font-family:'Cookie', cursive;        
    }
    #font-3
    {
        font-family:'Lato', sans-serif;
    }
}

.page-main
{
    text-align:center;
}
.block
{
    padding:$padding-small;
    text-align: center;
    margin: auto;
    display: inline-block;
}

span
{
    font-size:3vw;
    cursor: pointer;
}
.icons
{
    border:none;
    cursor: pointer;
    outline:none;
    background:$color-background-1;
    font-size: 1.4em;
    width: fit-content;
    color: $color-primary;
    &-large
    {
        
        border:none;
        outline:none;
        background:$color-background-1;
        font-size: 1.5em;
        width: fit-content;
        color: $color-secondary;
    }
    &-larger
    {
        border:none;
        outline:none;
        background:$color-background-1;
        font-size: 1.8em;
        width: fit-content;
        color: $color-secondary;
    }
}

.page-header
{
    background:$color-secondary;
    margin-left:20%;
    text-align:center;
  
    &-txt
    {
        text-decoration:underline;
        color:$color-primary;
        font-size: $font-size-large;
    }
}
#timer
{
    width:25vw;
    padding:1em;
    border: 2px solid $color-primary;
    text-align: center;
    border-radius: 3em;
    min-width:fit-content;
    margin-bottom: 2rem;
    
    &-box
    {
        min-width:fit-content;
        padding:2em;
        border:.4em solid $color-secondary;
        border-radius: 3em;
        align-content:center;
        perspective:180rem;
        cursor:pointer;
        position:relative;
        justify-content:center;
        text-align: center;
        background-blend-mode:screen;
        &-session
        {
            padding: .6rem;
            top:0px;  
            transition: all .8s ease;
            backface-visibility: hidden;
        }
        &-break
        {
            display:none;
            padding: .6rem;
            top:0px;  
            transition: all .8s ease;
            backface-visibility: hidden;
            transform: rotateY(180deg);
        }
    }
}

#planner
{
    margin:0.5rem auto;
    text-align: center;
    &_btn
    {
        color:$color-background-1;
        background:$color-primary;
        border:4px solid $color-secondary;
        padding:.3rem;
        border-radius: 25%;
        margin: .8rem auto;
        outline: none;
    }
}
#aim_bar
{
    background: $color-secondary;
    border:4px solid $color-primary;
    font-size: $font-size;
    border-radius: 30%;
    padding: 2rem;
    overflow:scroll;
    color:$color-background-1;
    width:30vw;
    outline: none;
}
#aim_bar::-webkit-scrollbar
{
    display: none;
}
#aim_bar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.session-details-heading
{
    padding:1rem ;
}
li [id^="session_displayer__list-"]
{
    font-size: 1.3vw;
}
.ul-list-dropdown{
    text-align: center;
    list-style-type:none;
    padding: 0;
    margin: 0;
    font-size: 0.6rem;
}
.dropdown-div
{
    padding: 0px;

    outline: none;
    border: none;
    &-heading{
        font-size:1.2rem;
        background: $color-primary;
        padding:0px;
        margin: 0;
        outline: none;
        border: none;
    }
    li{
    color:$color-background-1;
    border-bottom: 0.8px dotted  $color-primary;
    padding:0px;
    margin: 0;
    outline: none;
    border: none;
    }
    img 
    {
    text-align: right;
    }
}

.checkbox
{
    border:1px solid $color-primary;
    background-color: $color-secondary;
    border-radius: 3%;
    outline: none;
}
.label_heading
{
    // padding:1rem;
    font-size: $font-size-medium;
    &_small
    {
        font-size: $font-size;
    }
}
.session_planner-heading
{
    padding:0.7rem;
}
#session_displayer::-webkit-scrollbar {
    display: none;
}
#session_displayer{
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
#session_displayer
{
    overflow:scroll;
    max-height:16rem;
}
.task_completed_btn
{
    &-img
    {
    height:1rem;
    }
    outline:none;
    border:none;
    background:transparent;
}
#review-btn{
    outline:none;
    border:none;
    background:transparent;
    display:inline-block;
}
#review-img{
    display:inline-block;
    height:1.3vw;
    
}